.ispBtn-primary {
  background-color: #38b520;
  color: #ffffff;
}
.ispBtn-primary:hover {
  background-color: #2b851a;
  color: #ffffff;
}

.ispBtn-secondary {
  background-color: #e9e9e9;
}
.ispBtn-secondary:hover {
  background-color: #c5c5c5;
}
