@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: #38b520;
  text-decoration: none;
}

a:hover {
  color: #2b851a;
}

* {
  box-sizing: border-box;
}
